@media screen and (min-width: 1024px) {
  html, body{
    height:"100vh";}
}
  .greeting {
    overflow: display;
    position: relative;
    animation: fadeIn 1s, greetingIntro 2s ease 2s;
  }

  @keyframes greetingIntro
  {
    0% {opacity:1;}
    100% {visibility:hidden;opacity:0;}
  }

  .profile {
    position: relative;
    animation:  profileFadeIn 6s;
  }

  .hide {
    visibility: hidden;
  }

  .fade {
    overflow: display;
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    0% {opacity: 0; visibility:visible;}
    100% {opacity: 1; visibility:visible;}
  }

  @keyframes profileFadeIn {
    0% {opacity: 0; visibility:none;}
    70% {opacity: 0;}
    100% {opacity: 1; visibility:visible;}
  }